<!-- Menubar -->
 <div class="card">
    <p-menubar [model]="items">
        <ng-template pTemplate="start">
            <svg width="33" height="35" viewBox="0 0 33 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.1934 0V0V0L0.0391235 5.38288L2.35052 25.3417L15.1934 32.427V32.427V32.427L28.0364 25.3417L30.3478 5.38288L15.1934 0Z" fill="var(--primary-color)" />
                <mask id="mask0_1_36" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="31" height="33">
                    <path d="M15.1934 0V0V0L0.0391235 5.38288L2.35052 25.3417L15.1934 32.427V32.427V32.427L28.0364 25.3417L30.3478 5.38288L15.1934 0Z" fill="var(--primary-color-text)" />
                </mask>
                <g mask="url(#mask0_1_36)">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.1935 0V3.5994V3.58318V20.0075V20.0075V32.427V32.427L28.0364 25.3417L30.3478 5.38288L15.1935 0Z" fill="var(--primary-color)" />
                </g>
                <path d="M19.6399 15.3776L18.1861 15.0547L19.3169 16.6695V21.6755L23.1938 18.4458V12.9554L21.4169 13.6013L19.6399 15.3776Z" fill="var(--primary-color-text)" />
                <path d="M10.5936 15.3776L12.0474 15.0547L10.9166 16.6695V21.6755L7.03966 18.4458V12.9554L8.81661 13.6013L10.5936 15.3776Z" fill="var(--primary-color-text)" />
                <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M11.3853 16.9726L12.6739 15.0309L13.4793 15.5163H16.7008L17.5061 15.0309L18.7947 16.9726V24.254L17.8283 25.7103L16.7008 26.843H13.4793L12.3518 25.7103L11.3853 24.254V16.9726Z"
                    fill="var(--primary-color-text)"
                />
                <path d="M19.3168 24.7437L21.4168 22.6444V20.5451L19.3168 22.3214V24.7437Z" fill="var(--primary-color-text)" />
                <path d="M10.9166 24.7437L8.81662 22.6444V20.5451L10.9166 22.3214V24.7437Z" fill="var(--primary-color-text)" />
                <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M13.0167 5.68861L11.7244 8.7568L13.8244 14.8932H14.7936V5.68861H13.0167ZM15.4397 5.68861V14.8932H16.5706L18.5091 8.7568L17.2167 5.68861H15.4397Z"
                    fill="var(--primary-color-text)"
                />
                <path d="M13.8244 14.8932L6.87813 12.3094L5.90888 8.27235L11.8859 8.7568L13.9859 14.8932H13.8244Z" fill="var(--primary-color-text)" />
                <path d="M16.5706 14.8932L23.5169 12.3094L24.4861 8.27235L18.3476 8.7568L16.4091 14.8932H16.5706Z" fill="var(--primary-color-text)" />
                <path d="M18.8321 8.27235L22.2245 7.94938L19.9629 5.68861H17.7013L18.8321 8.27235Z" fill="var(--primary-color-text)" />
                <path d="M11.4013 8.27235L8.00893 7.94938L10.2705 5.68861H12.5321L11.4013 8.27235Z" fill="var(--primary-color-text)" />
            </svg>
        </ng-template>
        <ng-template pTemplate="item" let-item let-root="root">
            <a pRipple class="flex align-items-center p-menuitem-link">
                <span [class]="item.icon"></span>
                <span class="ml-2">{{ item.label }}</span>
                <p-badge *ngIf="item.badge" [ngClass]="{ 'ml-auto': !root, 'ml-2': root }" [value]="item.badge" />
                <span *ngIf="item.shortcut" class="ml-auto border-1 surface-border border-round surface-100 text-xs p-1">{{ item.shortcut }}</span>
                <i *ngIf="item.items" [ngClass]="['pi', root ? 'pi-angle-down ml-2' : 'pi-angle-right ml-auto']"></i>
            </a>
        </ng-template>
        <ng-template pTemplate="end">
            <div class="flex align-items-center gap-2">
                <input type="text" pInputText placeholder="Search" class="w-8rem sm:w-auto" />
                <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" />
            </div>
        </ng-template>
    </p-menubar>
</div>




<!-- Hero -->
<div class="relative min-h-160 lg:min-h-0 bg-surface-0 dark:bg-surface-900 flex lg:flex-row flex-col">
            <div class="flex lg:flex lg:flex-row flex-col justify-center md:justify-normal h-full flex-1">
                <div class="relative flex-1 z-20 flex items-center justify-center">
                    <div class="flex items-center justify-center h-full">
                        <div class="w-full max-w-2xl px-6 py-12 lg:p-12 xl:p-16 text-center lg:text-left">
                            <h1 class="text-4xl xl:text-5xl font-bold text-surface-0 lg:text-surface-900 dark:text-surface-0 mb-6 leading-tight!">
                                <span class="block">Create the screens your</span>
                                <span class="block text-primary">visitors deserve to see</span>
                            </h1>

                            <p class="text-surface-0/90 lg:text-surface-700 dark:text-surface-200 text-xl leading-normal mb-8 max-w-xl lg:max-w-none">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </p>

                            <div class="flex items-center gap-4 justify-center lg:justify-start">
                                <button pButton type="button">
                                    <span pButtonLabel>Learn More</span>
                                </button>
                                <button pButton type="button" outlined>
                                    <span pButtonLabel>Live Demo</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="absolute lg:relative inset-0 lg:inset-auto flex-1">
                    <div class="absolute lg:hidden inset-0 bg-surface-900/60 dark:bg-surface-900/80 z-10"></div>
                    <img
                        src="https://fqjltiegiezfetthbags.supabase.co/storage/v1/render/image/public/block.images/blocks/hero/hero-1.png"
                        alt="hero-1"
                        class="h-full w-full object-cover xl:[clip-path:polygon(12%_0,100%_0%,100%_100%,0_100%)]"
                    />
                </div>
            </div>
        </div>

<div class="bg-surface-50 dark:bg-surface-950 px-6 py-8 md:px-12 lg:px-20">
            <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-4">
                <div class="bg-surface-0 dark:bg-surface-900 shadow-sm p-5 rounded-2xl">
                    <div class="flex justify-between gap-4">
                        <div class="flex flex-col gap-2">
                            <span class="text-surface-700 dark:text-surface-300 font-normal leading-tight">Messages</span>
                            <div class="text-surface-900 dark:text-surface-0 font-semibold text-2xl! leading-tight!">152</div>
                        </div>
                        <div class="flex items-center justify-center bg-linear-to-b from-cyan-400 dark:from-cyan-300 to-cyan-600 dark:to-cyan-500 rounded-lg w-10 h-10">
                            <i class="pi pi-envelope text-surface-0 dark:text-surface-900 text-xl! leading-none!"></i>
                        </div>
                    </div>
                    <div class="mt-4">
                        <span class="text-surface-600 dark:text-surface-300 font-medium leading-tight">24 new</span>
                        <span class="text-surface-500 dark:text-surface-300 leading-tight"> since last visit</span>
                    </div>
                </div>

                <div class="bg-surface-0 dark:bg-surface-900 shadow-sm p-5 rounded-2xl">
                    <div class="flex justify-between gap-4">
                        <div class="flex flex-col gap-2">
                            <span class="text-surface-700 dark:text-surface-300 font-normal leading-tight">Check-ins</span>
                            <div class="text-surface-900 dark:text-surface-0 font-semibold text-2xl! leading-tight!">532</div>
                        </div>
                        <div class="flex items-center justify-center bg-linear-to-b from-orange-400 dark:from-orange-300 to-orange-600 dark:to-orange-500 rounded-lg w-10 h-10">
                            <i class="pi pi-map-marker text-surface-0 dark:text-surface-900 text-xl! leading-none!"></i>
                        </div>
                    </div>
                    <div class="mt-4">
                        <span class="text-surface-600 dark:text-surface-300 font-medium leading-tight">48 new</span>
                        <span class="text-surface-500 dark:text-surface-300 leading-tight"> since last visit</span>
                    </div>
                </div>

                <div class="bg-surface-0 dark:bg-surface-900 shadow-sm p-5 rounded-2xl">
                    <div class="flex justify-between gap-4">
                        <div class="flex flex-col gap-2">
                            <span class="text-surface-700 dark:text-surface-300 font-normal leading-tight">Files Synced</span>
                            <div class="text-surface-900 dark:text-surface-0 font-semibold text-2xl! leading-tight!">28.441</div>
                        </div>
                        <div class="flex items-center justify-center bg-linear-to-b from-slate-400 dark:from-slate-300 to-slate-600 dark:to-slate-500 rounded-lg w-10 h-10">
                            <i class="pi pi-file text-surface-0 dark:text-surface-900 text-xl! leading-none!"></i>
                        </div>
                    </div>
                    <div class="mt-4">
                        <span class="text-surface-500 dark:text-surface-300 leading-tight">32,56 / 250 GB</span>
                    </div>
                </div>

                <div class="bg-surface-0 dark:bg-surface-900 shadow-sm p-5 rounded-2xl">
                    <div class="flex justify-between gap-4">
                        <div class="flex flex-col gap-2">
                            <span class="text-surface-700 dark:text-surface-300 font-normal leading-tight">Users Online</span>
                            <div class="text-surface-900 dark:text-surface-0 font-semibold text-2xl! leading-tight!">25.660</div>
                        </div>
                        <div class="flex items-center justify-center bg-linear-to-b from-violet-400 dark:from-violet-300 to-violet-600 dark:to-violet-500 rounded-lg w-10 h-10">
                            <i class="pi pi-users text-surface-0 dark:text-surface-900 text-xl! leading-none!"></i>
                        </div>
                    </div>
                    <div class="mt-4">
                        <span class="text-surface-600 dark:text-surface-300 font-medium leading-tight">72 new</span>
                        <span class="text-surface-500 dark:text-surface-300 leading-tight"> user this week</span>
                    </div>
                </div>
            </div>
        </div>


<!-- Grid 3x3 -->
 <div class="bg-surface-0 dark:bg-surface-950 px-6 md:px-12 lg:px-20 py-20 text-center">
            <div class="flex flex-col gap-6">
                <div class="flex flex-col items-center gap-4">
                    <div class="font-bold text-3xl leading-tight">
                        <span class="text-surface-900 dark:text-surface-0">One Product, </span>
                        <span class="text-primary-500 dark:text-primary-400">Many Solutions</span>
                    </div>
                    <div class="text-surface-500 dark:text-surface-400 leading-tight">Ac turpis egestas maecenas pharetra convallis posuere morbi leo urna.</div>
                </div>
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
                    <div class="w-full rounded-md p-4">
                        <span class="mb-4 flex h-16 w-16 items-center justify-center rounded-lg bg-surface-0 dark:bg-surface-800 shadow mx-auto">
                            <i class="pi pi-desktop text-2xl! lg:text-3xl! text-primary-500 dark:text-primary-400"></i>
                        </span>
                        <div class="flex flex-col gap-1">
                            <div class="text-surface-900 dark:text-surface-0 text-xl font-medium leading-tight">Built for Developers</div>
                            <p class="text-surface-500 dark:text-surface-400 leading-normal">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        </div>
                    </div>
                    <div class="w-full rounded-md p-4">
                        <span class="mb-4 flex h-16 w-16 items-center justify-center rounded-lg bg-surface-0 dark:bg-surface-800 shadow mx-auto">
                            <i class="pi pi-lock text-2xl! lg:text-3xl! text-primary-500 dark:text-primary-400"></i>
                        </span>
                        <div class="flex flex-col gap-1">
                            <div class="text-surface-900 dark:text-surface-0 text-xl font-medium leading-tight">End-to-End Encryption</div>
                            <p class="text-surface-500 dark:text-surface-400 leading-normal">Risus nec feugiat in fermentum posuere urna nec. Posuere sollicitudin aliquam ultrices sagittis.</p>
                        </div>
                    </div>
                    <div class="w-full rounded-md p-4">
                        <span class="mb-4 flex h-16 w-16 items-center justify-center rounded-lg bg-surface-0 dark:bg-surface-800 shadow mx-auto">
                            <i class="pi pi-face-smile text-2xl! lg:text-3xl! text-primary-500 dark:text-primary-400"></i>
                        </span>
                        <div class="flex flex-col gap-1">
                            <div class="text-surface-900 dark:text-surface-0 text-xl font-medium leading-tight">Easy to Use</div>
                            <p class="text-surface-500 dark:text-surface-400 leading-normal">Ornare suspendisse sed nisi lacus sed viverra tellus. Neque volutpat ac tincidunt vitae semper.</p>
                        </div>
                    </div>
                    <div class="w-full rounded-md p-4">
                        <span class="mb-4 flex h-16 w-16 items-center justify-center rounded-lg bg-surface-0 dark:bg-surface-800 shadow mx-auto">
                            <i class="pi pi-globe text-2xl! lg:text-3xl! text-primary-500 dark:text-primary-400"></i>
                        </span>
                        <div class="flex flex-col gap-1">
                            <div class="text-surface-900 dark:text-surface-0 text-xl font-medium leading-tight">Fast & Global Support</div>
                            <p class="text-surface-500 dark:text-surface-400 leading-normal">Fermentum et sollicitudin ac orci phasellus egestas tellus rutrum tellus.</p>
                        </div>
                    </div>
                    <div class="w-full rounded-md p-4">
                        <span class="mb-4 flex h-16 w-16 items-center justify-center rounded-lg bg-surface-0 dark:bg-surface-800 shadow mx-auto">
                            <i class="pi pi-github text-2xl! lg:text-3xl! text-primary-500 dark:text-primary-400"></i>
                        </span>
                        <div class="flex flex-col gap-1">
                            <div class="text-surface-900 dark:text-surface-0 text-xl font-medium leading-tight">Open Source</div>
                            <p class="text-surface-500 dark:text-surface-400 leading-normal">Nec tincidunt praesent semper feugiat. Sed adipiscing diam donec adipiscing tristique risus nec feugiat.</p>
                        </div>
                    </div>
                    <div class="w-full rounded-md p-4">
                        <span class="mb-4 flex h-16 w-16 items-center justify-center rounded-lg bg-surface-0 dark:bg-surface-800 shadow mx-auto">
                            <i class="pi pi-shield text-2xl! lg:text-3xl! text-primary-500 dark:text-primary-400"></i>
                        </span>
                        <div class="flex flex-col gap-1">
                            <div class="text-surface-900 dark:text-surface-0 text-xl font-medium leading-tight">Trusted Security</div>
                            <p class="text-surface-500 dark:text-surface-400 leading-normal">Mattis rhoncus urna neque viverra justo nec ultrices. Id cursus metus aliquam eleifend.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>